// head {
@__nodeId__: ~"ewma_routers_ui_routerSettings__main";
// }

.@{__nodeId__} {

    .data_cat {
        position: relative;
        cursor: pointer;
        float: left;
        margin-right: 2px;
        background-color: #808080;
        color: #F7E3CF;
        font-size: 13px;

        .txt {
            padding: 8px 12px;
        }

        > input {
            background-color: darken(#808080, 5%);
            color: #F7E3CF;
            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
        }

        &:hover {
            background-color: darken(#808080, 5%);
        }
    }
}
