// head {
@__nodeId__: ~"ewma_routers_ui__main";
// }

.h100() {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.@{__nodeId__} {
    display: flex;
    flex-grow: 1;

    > .routers {
        min-width: 300px;
        overflow: auto;

        //.h100;
    }

    > .router {
        overflow: auto;
    }

    > .route {
        overflow: auto;
        padding: 0 5px;

        .h100;
    }
}
