// head {
@import "../../../../../js-jquery/ui/-/less/icons.less";
@import "../../../../../css/std/-/less/main.less";

@__nodeId__: ~"ewma_routers_ui_routes__main";
// }

.@{__nodeId__} {

    .compile_button {
        .__button;
        .blue;
        .small;

        float: right;
        margin-bottom: 10px;
    }
}
