// head {
@import "../../../../../../modules-vendor/fed/css/std/-/less/main.less";
@import "../../../../../../modules-vendor/fed/jquery/ui/-/less/icons.less";

@__nodeId__: ~"ewma_routers_ui_routers__main";
// }

.h100() {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.@{__nodeId__} {
    .h100;

    > .cp {
        display: flex;
        justify-content: space-between;
        background-color: #424242;
        padding: 5px;

        .button() {
            background: linear-gradient(#464646, #2D2D2D);
            border: 1px solid #353535;
            color: #AFAFAF;
        }

        .create_button {
            .__button;
            .green;
            .small;
            .button;
        }

        .compile_button {
            .__button;
            .blue;
            .small;
            .button;
        }

        min-height: 25px; // todo
    }

    > .routers {
        .h100;

        max-height: 100%;
        overflow: auto;

        > .router {

            &.selected {
                cursor: default;

                > div {
                    background-color: #345280;

                    .name {
                        color: #FFFFFF;
                    }

                    .host {
                        color: #FFFFFF;
                    }

                    .buttons {

                        .button {
                            background-color: #345280;

                            .icon {
                                background-image: url("images/icons_ffffff.png");
                            }

                            &.hover {
                                background-color: #20324E;
                            }
                        }
                    }
                }
            }
        }
    }
}
